
#---- Hugo
hugo/public/
hugo/resources/
hugo/themes/*
!hugo/themes/codeboy-2023

#---- Dependency Directories
node_modules/
.venv/
venv/

#---- Config files
.env
.env.local
.env.*.local

#---- IDE Directories
.vscode/
.idea/
/*.iml
