    <p class="is-size-7 ws-byline">
    &mdash; <time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</time>
{{- if .Params.Author }}
    &mdash; {{ .Params.Author }}
{{- else }}
    &mdash; {{ .Site.Params.Author }}
{{- end }}
{{- if .Params.tags }}
    {{- $last_i := add -1 (len .Params.tags) }}
    &mdash;
    {{- range $i, $tag := .Params.tags }}
    <a href="/en/tags/{{$tag}}/">{{$tag}}</a>{{ if ne $i $last_i }}, {{ end }}
    {{- end }}
{{- end }}
    </p>