{{- define "description" }}
{{- safeHTML (trim (plainify .Summary) " \n") -}}
{{- end }}

{{- define "main" }}
  <main class="container content pad-sides-for-mobile">
    <h1 class="title">{{ .Title }}</h1>
    {{- with .Param "subtitle" }}
    <h3 style="margin-top:-25px;">&mdash; {{.}}</h3>
    {{- end }}
    <p class="ws-byline">
      {{ partial "by-line.html" . }}
    </p>
{{ partial "table-of-contents.html" . }}
{{ .Content | emojify }}
    <hr>
{{ partial "bnc-disqus" . }}
  </main>
{{ end }}
