{{- define "main" }}
{{- $home_bundle := $.Site.GetPage "page" "/pages/home"}}
{{- $welcome_frag := $home_bundle.Resources.GetMatch "welcome.md" }}

{{- $list_blogs := where .Site.RegularPages "Section" "blog" | first 11 }}
  <main id="pg-main">
    <div class="pg-1-3 container">
      <div>
        {{- with $welcome_frag }}{{ .Content }}{{ end }}
      </div>
      <div class="ws-blog-list">
        {{- range $i, $pg := $list_blogs }}
        <article>
          <a href="{{ .RelPermalink }}" role="button" class="ws-go">Go</a>
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        {{- with .Param "subtitle" }}
          <h2>&ndash; {{.}}</h2>
        {{- end }}
        <div class="ws-byline">
          {{- partial "by-line.html" . }}
        </div>
        <div class="ws-summary">
          {{ .Summary | plainify | strings.TrimRight " \n" | safeHTML }}
        </div>
        </article>
        {{- end }}
      </div>
    </div>
  </main>
{{ end }}
